{% extends "base_site.html" %}
{% load static %}

{% block title %}Talking Scores - making sheet music more accessible{% endblock %}
{% block meta-description %}Open source project to help blind and print impaired musicians read sheet music.  It converts MusicXML files to text and audio. {% endblock %}

{% block content %}
        <h1>Talking Scores - making sheet music more accessible for blind and print impaired musicians</h1>

        <div class="col-md-11 mx-auto text-start">
            <p class="tsp">A Talking Scores is a spoken representation of sheet music / stave notation; often including recordings of the music being described.  Talking Scores are designed to assist blind / visually impaired / print impaired musicians to read sheet music / stave notation. </p>

            <p class="tsp">This is a two bar extract from Eine kleine Nachtmusik by Mozart to demonstrate what a talking score is...</p>
            <p class="tsp" style="font-style:italic; padding-left:50px;">
                <b>Bar 1:</b> <br/>
                Time signature - 1 of 1 is 4 4. <br/>
                Key signature - 1 of 1 is 2 sharps. <br/> <br/>

                Beat 1: crotchet high D . <br/>
                Beat 2: quaver rest , mid A . <br/>
                Beat 3: crotchet high D . <br/>
                Beat 4: quaver rest , mid A . <br/> <br/>

                <b>Bar 2: </b> <br/>
                Beat 1: quaver high D , mid A . <br/>
                Beat 2: quaver high D , F . <br/>
                Beat 3: crotchet high A . <br/>
                Beat 4: crotchet rest . <br/>
            </p>

            <p class="tsp">End of Extract...</p>

            <p class="tsp">Producing a talking score manually can be time consuming, is often not a straightforward process and may require aspects tailored to individual musicians.</p>  
            
            <p class="tsp">This website can automatically produce a talking score from a MusicXML file.  It will produce a representation of the score as text (well formatted HTML), along with audio for the music; but you will need to use a screen reader to get the &quot;talking&quot; aspect of the Talking Score.</p> 
                
            <p class="tsp">This website also attempts to replicate some of the benefits of print music - ie the ease of navigation and freedom to choose what aspects are important to you as you progress through learning the score.  For example, the talking score begins with a summary that highlights what might &quot;jump out&quot; from a printed score - eg key changes / repeated sections / common rhythms etc.  You can change which parts (ie instruments) are played or described and other aspects such as section length.  The formatting allows for easy screen reader navigation between sections / bars / parts etc.  You can also customise how various aspects of the score are described - eg when to announce the octave and whether to use octave numbers or words.  </p>

            <p class="tsp">This is an <a href="https://github.com/bentimms/talkingscores" target="_blank">open source project</a> - currently undertaken by a very small team; working in our spare time.  It is a work in progress and therefore may not always work correctly.  Please see the <a href="/change-log">Change Log</a> for latest updates or <a href="/contact-us">contact us</a> with questions / problems / feature requests etc. </p>      
        </div>
                
        <hr>

        <h3><b>Upload or provide a URL to a MusicXML file.</b></h3>

        <form class="form-horizontal text-center mx-auto" action="{% url 'index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-group mx-auto">
                <label for="id_filename" class="col-sm-3 control-label">Upload</label>

                <div class="col-sm-6 mx-auto">
                    <input type="file" class="form-control input-lg mx-auto" id="id_filename" name="filename">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6 mx-auto"><p class="tsp">or</p></div>
            </div>
            <div class="form-group">
                <label for="id_url" class="col-sm-3 control-label">URL</label>

                <div class="col-sm-6 mx-auto">
                    <input type="url" class="form-control input-lg " id="id_url" name="url">
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6 mx-auto">
                    <button type="submit" class="btn btn-primary btn-lg">Generate Talking Score</button>
                </div>
            </div>
        </form>

        <hr>
        <h3><b>Example scores</b></h3>
        <p class="tsp">These example scores have been produced by this website and should give a good idea of what a Talking Score is.  They might not have been produced by the latest version of the code.</p>
        <ul class="list-unstyled">
            {% for example_score in example_scores %}
                <li class="tsp"><a href="{% static 'data/' %}{{ example_score }}">{{ example_score }}</a></li> <br/>
            {% endfor %}
        </ul>
        </div>
{% endblock content %}